<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sucursales</title>
</head>
<body>
    <a href="/" class="btn btn-success mb-3">Home</a>

    <h1>EMPRESA CHAMBA SAC</h1>

    <div>
        <p>Bienvenido a la página de Sucursales. Aquí puedes consultar la información de todas nuestras sucursales.</p>

        <!-- Puedes agregar más contenido relacionado a las sucursales -->
    </div>

    <footer>
        Copyright <span th:text="${año}"></span>
    </footer>
</body>
</html>
